<div class="valign-wrapper" style="flex: 1 0 auto">
  <div class="container">
    <div class="row">
      <h5 class="col offset-s4">Cadastrar usuário no sistema.</h5>
    </div>
    <div class="row">
      <div id="feedback" class="red lighten-1 white-text" hidden>teste</div>
      <form #form="ngForm" class="col s8 offset-s4" (submit)="onSubmit()">
        <div class="row">
          <div class="input-field col s8">
            <input
              type="text"
              name="title"
              id="title"
              pattern="[a-zA-zà-ú?! .0-9]{1,30}"
              [(ngModel)]="this.ticket.title"
              class="validate"
              #title="ngModel"
              required
            /><label for="title">Título *</label>
            <div class="red-text" [hidden]="title.valid || title.untouched">
                É necessário infomar um título com no máximo 30 caracteres.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8">
            <input
            type="text"
            name="severity"
            id="severity"
            pattern="\b[LMH](?:\b|(?<=L)L|(?<=H)H)"
            [(ngModel)]="this.ticket.severity"
            class="validate"
            #severity="ngModel"
            /><label for="severity">Severidade (LL, L, M, H, HH)</label>
            <div class="red-text" [hidden]="severity.valid">
                A severidade deve receber um dos seguintes valores: LL, L, M, H ou HH
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8">
                <input
                type="text"
                name="affectedItem"
                id="affectedItem"
                pattern="[a-zA-zà-ú ]{1,30}"
                [(ngModel)]="this.ticket.affectedItem"
                class="validate"
                #affected="ngModel"
                required
                /><label for="affectedItem">Item afetado *</label>
                <div class="red-text" [hidden]="affected.valid || affected.untouched">
                    É necessário infomar o local afetado com no máximo 30 caracteres.
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s8">
            <input
            type="text"
            name="attributedTo"
            id="attributedTo"
            [patterns]="this.usernamePattern"
            mask="U*"
            [dropSpecialCharacters]="false"
            [(ngModel)]="this.ticket.attributedTo"
            class="validate"
            #attributed="ngModel"
            required
            /><label for="attributedTo">Atribuir à *</label>
            <div class="red-text" [hidden]="attributed.valid || attributed.untouched">
                É necessário infomar um título.
            </div>
        </div>
    </div>
        <div class="row">
          <div class="input-field col s8">
              <input
              type="text"
              name="description"
              id="description"
              [(ngModel)]="this.ticket.description"
              class="validate"
            #desc="ngModel"
              required
              /><label for="description">Descrição *</label>
              <div class="red-text" [hidden]="desc.valid || desc.untouched">
                  É necessário infomar uma descrição.
              </div>
            </div>
        </div>
        <div class="row center-align">
          <button
            type="submit"
            class="btn waves-effect waves-light deep-purple darken-4 col s4 text-bold"
          >
            ENVIAR
          </button>
          <button
            type="button"
            routerLink="/"
            class="btn waves-effect waves-light deep-purple-text text-darken-4 col offset-m1 s3 border-only text-bold"
          >
            CANCELAR
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
