<div class="container">
  <div class="row">
    <div class="hide-on-small-only">
      <img
        src="../../assets/img/coati-logo.svg"
        alt="Coa.Tracker logo"
        class="responsive-img"
      />
    </div>
    <div class="show-on-small" style="display: none">
      <img
        src="../../assets/img/coati-logo-inside.svg"
        alt="Coa.Tracker logo"
        class="responsive-img col offset-s2 s8"
      />
    </div>
  </div>
  <div class="row no-margin">
    <h1 class="light-green-text text-lighten-3 font-logo no-margin col s4">
      Coa.Tracker
    </h1>
  </div>
  <div class="row">
    <h5
      class="light-green-text text-lighten-5 font-logo col offset-m3 offset-s1"
      style="margin-top: 0px"
    >
      Crushing bugs, one munch at a time!
    </h5>
  </div>
  <div class="row center-align">
    <a
      routerLink="/login"
      class="btn waves-effect waves-light deep-purple darken-2 col s3 text-bold offset-s2"
    >
      ENTRAR
    </a>
    <a
      routerLink="/profile"
      class="btn waves-effect waves-light deep-purple-text text-lighten-5 col offset-m1 s4 border-only light text-bold"
    >
      CADASTRAR
    </a>
  </div>
</div>
