:host {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.font-logo {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
}