<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper deep-purple darken-2 fixed center-align">
      <div class="container">
        <div class="left" id="userName" [hidden]="!this.userLogged">
          <a href="#" class="light-green-text text-lighten-3">
            <div class="valign-wrapper">
              <span
                class="circle light-green lighten-3"
                style="width: 40px; height: 40px; display: inline-block"
              ></span>
              &nbsp;&nbsp;{{ this.userName }}
            </div>
          </a>
        </div>
        <div class="center" style="margin-left: auto; margin-right: auto;">
          <a href="#!" class="brand-logo">
            <img src="../../assets/img/coati-logo-inside.svg" height="50px" />
          </a>
        </div>
        <div class="right">
          <a
            [hidden]="!this.userLogged"
            href="#"
            data-target="mobile-sidenav"
            class="sidenav-trigger light-green-text text-lighten-3"
          >
            <i class="material-icons"> menu </i>
          </a>
          <ul [hidden]="!this.userLogged" class="hide-on-med-and-down">
            <li>
              <a routerLink="/profile" class="light-green-text text-lighten-3">
                Profile
              </a>
            </li>
            <li>
              <a routerLink="/login" class="light-green-text text-lighten-3">
                Mudar usuário
              </a>
            </li>
            <li>
              <a
                routerLink=""
                class="light-green-text text-lighten-3"
                (click)="this.onClickLogout()"
              >
                Sair
              </a>
            </li>
          </ul>
          <ul [hidden]="this.userLogged" class="right">
            <li>
              <a routerLink="/login" class="light-green-text text-lighten-3">
                Entrar
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>

<ul class="sidenav deep-purple darken-2 right" id="mobile-sidenav" #mobile>
  <div *ngIf="this.userLogged">
    <li>
      <a href="#" class="light-green-text text-lighten-3">
        <div class="valign-wrapper">
          <span
            class="circle light-green lighten-3"
            style="width: 40px; height: 40px; display: inline-block"
          ></span>
          &nbsp;&nbsp;{{ this.userName }}
        </div>
      </a>
    </li>
    <li>
      <a href="#" class="light-green-text text-lighten-3 sidenav-close"
        >Voltar</a
      >
    </li>
    <li>
      <a routerLink="/profile" class="light-green-text text-lighten-3"
        >Profile</a
      >
    </li>
    <li>
      <a routerLink="/login" class="light-green-text text-lighten-3">
        Mudar usuário
      </a>
    </li>
    <li>
      <a
        routerLink=""
        class="light-green-text text-lighten-3 sidenav-close"
        (click)="this.onClickLogout()"
      >
        Sair
      </a>
    </li>
  </div>
  <li [hidden]="this.userLogged">
    <a routerLink="login" class="light-green-text text-lighten-3 sidenav-close">
      Entrar
    </a>
  </li>
</ul>
