
/* label focus color */
.input-field input:focus + label {
    color: var(--dark-purple);
  }
  
  /* label underline focus color */
  .row .input-field input:focus {
    border-bottom: 1px solid;
    border-bottom-color: var(--dark-purple);
    box-shadow: 0 1px 0 0 var(--dark-purple);
  }

  .btn.border-only{
    background-color: transparent !important;
    border: 1px solid !important;
    border-color: var(--dark-purple);
  }