/* You can add global styles to this file, and also import other style files */

@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";

:root {
  --dark-purple: #311b92;
  --med-purple: #512da8;
  --light-purple: #ede7f6;
  --dark-green: #33691e;
  --med-green: #c5e1a5;
  --light-green: #f1f8e9;
}

body {
  min-width: 400px !important;
  background-color: var(--light-purple);
}

.no-margin{
    margin: 0px;
}

.btn.border-only {
  background-color: transparent !important;
  border: 1px solid !important;
  border-color: var(--dark-purple);
}

.btn.border-only.light {
  background-color: transparent !important;
  border: 1px solid !important;
  border-color: var(--med-purple);
}

/* label focus color */
.input-field input:focus + label {
  color: var(--dark-purple) !important;
}

/* label underline focus color */
.row .input-field input:focus {
  border-bottom: 1px solid !important;
  border-bottom-color: var(--dark-purple) !important;
  box-shadow: 0 1px 0 0 var(--dark-purple) !important;
}
