<div class="ticket">
  <a class="deep-purple-text text-darken-4" [routerLink]="['../show',ticket?.id]">
    <div
    class="deep-purple lighten-4 border-solid-dark-purple round-rect-small hoverable"
    style="border-width: 1px"
    >
    <div class="row no-margin">
        <h5 class="no-margin truncate col s10" style="padding-left: 2em">
          <ng-content select="header"></ng-content>
        </h5>
        <div class="right">
        <a
          ><i class="material-icons deep-purple-text" (click)="onUpdate()"
            >edit</i
          ></a
        >
        <a
          ><i class="material-icons deep-purple-text" (click)="onDelete()"
            >delete</i
          ></a
        >
      </div>
    </div>
      <div class="divider deep-purple darken-5"></div>
      <span class="limit-3-lines" style="padding-left: 2em; padding-right: 2em">
        <ng-content select="section"></ng-content>
      </span>
    </div>
  </a>
</div>
